tmp
bin
build
*.zip
*.class
*.pyc
*.pyo

/zip.xcodeproj/xcuserdata/andergmartins.xcuserdatad/
/zip.xcodeproj/project.xcworkspace/xcuserdata/andergmartins.xcuserdatad/
/.DS_Store
/zip.xcodeproj/project.pbxproj